body { background-image: url(https://cutewallpaper.org/21/geometry-dash-backgrounds/Download-Geometry-Dash-Lite-on-PC-with-BlueStacks.jpg);}

.news {border: 5px gray solid; width: 65%; background-color: #0098b393;}

.icons{border: 7px black solid;}
.full {background-color: #0098b3d8; width: 80%; position: relative; left:150px;;}

header { background-image: url(https://cutewallpaper.org/21/geometry-dash-backgrounds/Download-Geometry-Dash-Lite-on-PC-with-BlueStacks.jpg);}

a {text-decoration: none; font-weight: 800;
font-family: sans-serif;}