body {
    font-family: sans-serif;background-image: url(https://cutewallpaper.org/21/geometry-dash-backgrounds/Download-Geometry-Dash-Lite-on-PC-with-BlueStacks.jpg)}
   
     ;


h1 {
    text-align: center;
}


a {text-decoration: none;font-weight: 800;}
